body {
    background-image: url("../images/Plant1.jpg");

}

header {
    /* background-image: url("../images/Plant4.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
    text-align: center;
}

header h1 {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header h2 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: brown;
    text-align: center;
    padding-bottom: 10px;
}